.hero-list {
    position: absolute;
    width: 100%;
    height: 280px;
    color: rgb(248, 248, 248);
    align-items: center;
}

.overlay-list {
    background-color: rgba(0, 0, 0, 0.349);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.title2 {
    position: relative;
    top: -8rem;
    margin-left: 16px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    color: #fff;
}

.title2 h2 {
    font-size: 2rem;
    margin-top: 20px;
    margin-left: 100px;
}

.content-list {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.829);
    top: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 1 auto;
    padding: 1rem;
    grid-template-columns: repeat(4, minmax(200px, 2fr));
}

.container-lista {
    width: 65%;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 2fr));
    grid-gap: 1rem;
    box-sizing: border-box;
    overflow-y: none;
    color: black;
}

.card {
    background-color: var(--secundary-white);
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgb(0, 0, 0);
    transition: .5s;
    text-align: center;
    position: relative;
}

.button {
    margin-top: 10px;
    padding: 0 auto;
}

.card img {
    grid-column-start: 2;
    width: 150px;
    height: 150px;
    object-fit: cover;
    background: linear-gradient(45deg, #d47800, #e90000) border-box;
    border: 5px solid transparent;
    border-radius: 50%;
    margin: 5px;
}

@media screen and (max-width: 940px) {
    .container-lista,
    .content-list {
        display: grid;
        top: 35vh;
        grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    }
    .hero-list {
        position: absolute;
        width: 100%;
        height: 230px;
        color: rgb(248, 248, 248);
        align-items: center;
    }
    .card {
        background-color: var(--secundary-white);
        border-radius: 1rem;
        padding: 0.8rem;
        margin-bottom: 10px;
        box-shadow: 0 5px 5px rgb(102, 70, 31);
        transition: .5s;
        text-align: center;
        position: flex;
    }
    .title2 {
        position: absolute;
        top: 15vh;
        display: flex;
        margin: 0 auto;
        text-align: center;
    }
}